<header><p>
    I am a Swedish computer science & media technology student who loves to work with exciting projects that involve Visualization, Software Development, Human Computer Interaction and Education. <a id="detailedAboutShow" href="#">View full presentation</a>
</p>

  <div class="togglable hidden" id="detailedAbout">
  <p>I am in my fourh year of studies at Linköping Univerity to become a Master of Science in Engineering focusing on computer science and media techology. Together with three other students, I was part of founding the organization called <a href="http://lithehack.se">LiTHehack</a>, which exists to help other students learn programming. During the last four summers I have worked as a software developer at <a href="http://configura.com/cet/why-cetdesigner/">Configura</a>, with tasks including creation of tools to export 3D data to formats suitable for sharing on the web, as well as test driven integration of a triangulation algorithm for complex 2D polygons.</p>

  <p>
    You can find me on <a href="http://facebook.se/nils.emil.axelsson">Facebook</a>, <a href="http://linkedin.com/in/emiax">LinkedIn</a>, <a href="http://twitter.com/emilaxelsson">Twitter</a> and <a href="http://github.com/emiax">GitHub</a>.
  </p>

     <p class="hideButton" id="detailedAboutHide">
        <a id="detailedAbout" href="#">Show less</a>
     </p>
   </div>

  
</header>
